/*nav a {
	display: inline-block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 0px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
	color: black;
}*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li {
	float: left;
	width: 175px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Add "hover" functionality so that nav button
changes color */
li a:hover {
	background-color: #111;
}

/* Add "active" functionality so that nav button
changes color to indicate current page */
.active {
	background-color: #4CAF50;
}

h1 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
}

h2 {
	text-align: center;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 45px;
}

footer {
	text-align: center;
	font-size: 12px;
}

