body {
	background-color: #e6f2ff;
}

p {
	font-family: sans-serif;
	color: #003366;
}

li {
	font-family: sans-serif;
	color: #003366;
}

span {
	font-family: sans-serif;
	color: #003366;
}

/*formatting for navbar at the top of the page */
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #003366;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	font-family: sans-serif;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li.right {
	float: right;
}

ul.topnav li a:hover:not(.active) {
	background-color: #3399ff;
}

ul.topnav li.right {
	float: right;
}

ul.topnav li.active {
	background-color: #ffad33;
}

/*responsive design*/
@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
}

@media only screen and (max-width: 500px) {
    body.background_img {
    	background-image: url("img/AdobeStock_96928594.jpeg");
    	background-size: cover; 
    	background-position: center center;
    	background-attachment: fixed;
    }
}

@media only screen and (max-width: 600px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .googleMaps {
    	width: 50%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
    .googleMaps {
    	width: 100%;
    }
}

/*header formatting*/
h1 {
	font-family: sans-serif;
	text-align: center;
	font-size: 60px;
	margin-bottom: 0px;
	color: #003366;
}

h2 {
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 45px;
	color: #003366;
}

h3 {
	font-family: sans-serif;
	text-align: center;
	font-style: bold;
	color: #003366;
}

h4 {
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
	color: #003366;
}

/*footer formatting*/
footer {
	text-align: center;
	font-size: 12px;
	color: #003366;
}

/*photo gallery formatting*/
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    color: #003366;
}

* {
    box-sizing: border-box;
}


/*class formatting*/
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.introduction {
	background-color: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.flexbox {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.dentist_bio {
	background-color: white;
	color: #003366;
	margin: 20px;
	padding: 10px;
	width: 500px;
	height: 500px;
}

.treitel_headshot {
	max-width: 50%;
	height: auto;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -70px;
	margin-top: -20px;
	display: block;
}

.green_headshot {
	max-width: 50%;
	height: auto;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -90px;
	display: block;
}

.googleMaps {
	margin: 20px;
	width: 400px;
	height: 400px;
	border: 0;
}

.contactUs {
	color: #003366;
	margin: 10px;
	padding: 10px;
	width: auto;

}

.introduction h3 {
	font-size: 35px;
	font-family: sans-serif;
	color: #003366;
}

.introduction p {
	font-size: 25px;
	font-family: sans-serif;
	color: #003366;
}
